<header class="header-desktop hidden-xs">
	<img src="i/mobi/small-logo.png" alt="logo">
	<a href="javascript:;" class="logo">GE	
		<span class="log-medium">Schedule Optimality</span>
	</a>
	
	<a href="javascript:;" class="icon-menu"></a>
	<a href="javascript:;" class="text">
		<p>Welcome, <span class="name">Jane callista</span> </p>
		<i class="icon-down-arrow01"></i>
	</a>
	<div class="clear"></div>
</header>
<!-- header Desk-->
<header class="header-mobi visible-xs">
	<a href="javascript:;" class="logo">
		<img src="i/mobi/small-logo.png" alt="small">
		<span class="text">GE</span>
		<span class="log-medium-mobile">Schedule Optimality</span>
	</a>
	<a href="javascript:;" class="icon-menu"></a>
	<div class="clear"></div>
</header>
<!-- Header mobi -->
<div class="top-main-tab hidden-xs">
	<nav>
		<ul>
			<li data-ng-class="{active:locationName==='#/user/dashboard'}">
				<a class="grey-title" href="javascript:;" data-ng-click="goDashboardPage()">Dashboard Overview</a> 
			</li>
			<li data-ng-class="{active:locationName==='#/user/report'}">
				<a class="grey-title" href="javascript:;" data-ng-click="goReportPage()">Open PO Report</a>
			</li>
			<li data-ng-class="{active:locationName==='#/user/calendar'}">
				<a class="grey-title" href="javascript:;" data-ng-click="goCalendarPage()">Calendar view <span class="notify">12</span></a>
			</li>
			<li data-ng-class="{active:locationName==='#/user/materials'}">
				<a class="grey-title" href="javascript:;" data-ng-click="goMaterial()">Materials &amp; Suppliers list</a>
			</li>
		</ul>
	</nav>
</div>
<!-- end .top-main-tab -->