<!-- event box -->
<div class='event-box'>
	<div class='name-company'>event.title</div>
	<div class='detail'>
		<div class='quarter-box'>
			<span data-ng-mouseover='quarterOver()' data-ng-mouseout='quarterOut()'>Q1</span>
			<div class='tooltip-payment hide quarter-tooltip'>
				<span class='title'>PAYMENT DUE</span>
				<p class='status-one'>Cash payment in <i class='t-bold'>1st Quarter 2016.</i> 'Payment due' on <i class='t-bold'>30/1/2016</i> <i class='t-blue'>(30 days)</i></p>
			</div>
		</div>
		<div class='money-box icon-green-dollar01' data-ng-mouseover='opportunitiesOver()' data-ng-mouseout='opportunitiesOut()'>
			<div class='tooltip-payment opportunities hide opportunities-tooltip'>
				<span class='title'>Opportunities</span>
				<p class='status-one'>Save up to <i class='t-green'>$370,900</i> by Push out 'Critical date' on <i class='t-bold'>3/2/2016</i></p> 
			</div>
		</div>
		<div>
			<a class='show-vender' href='javascript:;' data-ng-mouseover='venderOver()' data-ng-mouseout='venderOut()'>+3 More Vendors</a>
			<div class='flyout-vendors hide vendor-tooltip-critical'>
				<div class='cover-all'>
					<div class='demo-values'>
						<span class='top-title'>HANGZHOU DATON WIND POWER IMPETUS CO LTD</span>
						<ul>
							<li>
								<i class='n-blue'>1</i>
								<p class='line-one'>
									<span class='big-title'>PO Number</span>
									<span class='small-num'>888001808</span>
								</p>
								<p class='line-two'>
									<span class='big-title'>SUM of total</span>
									<span class='small-num'><i>$</i> 14,040</span>   
								</p>
							</li>
							<li>
								<i class='n-blue'>2</i>
								<p class='line-one'>
									<span class='big-title'>PO Number</span>
									<span class='small-num'>888001808</span>
								</p>
								<p class='line-two'>
									<span class='big-title'>SUM of total</span>
									<span class='small-num'><i>$</i> 14,040</span>   
								</p>
							</li>
						</ul>
					</div>
					<!-- end .demo-values -->
					<div class='demo-values only'>
						<span class='top-title'> BRASVENDING COMERCIAL SA</span>
						<ul>
							<li>
								<i class='n-blue'>1</i>
								<p class='line-one'>
									<span class='big-title'>PO Number</span>
									<span class='small-num'>888001808</span>
								</p>
								<p class='line-two'>
									<span class='big-title'>SUM of total</span>
									<span class='small-num'><i>$</i> 14,040</span>   
								</p>
							</li>
						</ul>
					</div>
					<!-- end .demo-values -->
				</div>
				<!-- end .cover-all -->
				<a class='view-more' href='javascript:;'>+1 More Vendors</a>
			</div>
			<div class='flyout-vendors opportunities hide vendor-tooltip'> 
				<div class='critical-date'>
					<i class='icon-green-dollar02'></i>
					<span class='t-title'>OPPORTUNITIES</span>
					<span class='b-title'>Save up to <i class='t-bold'>$119,608</i> by push out 'Critical Date' on 3/2/2016.</span>
				</div>
				<!-- end .critical-date -->
				<div class='cover-all'>
					<div class='demo-values'>
						<span class='top-title'>HANGZHOU DATON WIND POWER IMPETUS CO LTD</span>
						<ul>
							<li>
								<i class='n-blue'>1</i>
								<p class='line-one'>
									<span class='big-title'>PO Number</span>
									<span class='small-num'>888001808</span>
								</p>
								<p class='line-two'>
									<span class='big-title'>SUM of total</span>
									<span class='small-num'><i>$</i> 14,040</span>   
								</p>
							</li>
							<li>
								<i class='n-blue'>2</i>
								<p class='line-one'>
									<span class='big-title'>PO Number</span>
									<span class='small-num'>888001808</span>
								</p>
								<p class='line-two'>
									<span class='big-title'>SUM of total</span>
									<span class='small-num'><i>$</i> 14,040</span>   
								</p>
							</li>
						</ul>
					</div>
					<!-- end .demo-values -->
					<div class='demo-values only'>
						<span class='top-title'>LM WIND POWER BLADES QINHUANGDAO CO LTD</span>
						<ul>
							<li>
								<i class='n-blue'>1</i>
								<p class='line-one'>
									<span class='big-title'>PO Number</span>
									<span class='small-num'>888001808</span>
								</p>
								<p class='line-two'>
									<span class='big-title'>SUM of total</span>
									<span class='small-num'><i>$</i> 14,040</span>   
								</p>
							</li>
						</ul>
					</div>
					<!-- end .demo-values -->
				</div>
				<!-- end .cover-all -->
				<a class='view-more' href='javascript:;'>+2 More Vendors</a>
			</div>
		</div>
	</div>
	<span class='save-money'>Save $113,911</span>
	<span class='critical-end'>Critical date</span>
	<span class='start-color'></span>
	<span class='arrow-color'></span>
	<span class='arrow-color-second'></span>
</div>