
<article class="page-po-report martetial-list hidden-xs">

	<section class="search-bar-report">
		<div class="group-search">
			<div data-search-tag-block="listTagFilter">
			</div>
			<!-- Cover Search -->
			<div class="cover-filter">
				<div class="cover-drop-down">
					<div class="drop-down-184 three">
						<a class="cover-link btn-tooltipvender" href="javascript:;">
							<span>
								Suppliers Name
							</span>
							<i class="icon-down-arrow03"></i>
						</a>
						<div class="tool-tip-show" data-tooltip-dropdown-block="vendorsList" data-title="Supplier">
						</div>
						<!-- Tool Tip -->	
					</div>
					<!-- Vendor Name -->
					<div class="drop-down-184 three">
						<input type="text" class= "critical-datepicker" placeholder="Quarter" /> 
						<i class="icon-down-arrow03 critical-icon-datepicker"></i>
					</div>
					<!-- Marterials -->
					<div class="show-only">
						<div class="checkbox-custom">
							<input id="check1" type="checkbox" name="check" value="check1">
							<label for="check1">Show Only Suppliers Related to Me</label>
						</div>
					</div>
					<!-- Show Only -->
					<div class="drop-down-135">
						<div data-dropdown-select="optionSaveFilter" data-dropdown-model="selectSaveFilter" ></div>
					</div>
					<!-- Save Fillter -->
					<div class="clear"></div>
				</div>
			</div>
			<!-- Cover Filter -->
		</div>
		<!-- Group Search -->
	</section>
	<!-- SearchBar -->
	<section class="data-table-show">
		<div class="header-table">
			<p class="left-text">
				<span class="blue-text">
					Material &amp; Supplier List
				</span>
				<a href="javascript:;" class="show-how" data-ng-click="goCalendarView()">
					Showing {{filteredItems.length}} Results
				</a>
			</p>
			<!-- Left -->
			<div class="right-tool">
				<div class="drop-down-135">
					<div data-dropdown-select="optionNewFirst" data-dropdown-model="selectNewFirst"></div>
				</div>
				<!-- Newest First -->
				<div class="tool-col" data-ng-show="listTagFilter.length===0">
					<a href="javascript:;" class="cover-link" data-click-config-col></a>
					<i class="icon-setting"></i>
					<div class="show-tool-col">
						<p class="title">View Options</p>
						<ul>
							<li data-ng-repeat="item in listCol">
								<div class="checkbox-custom">
									<input data-ng-model="item.isShow" type="checkbox">
									<label data-ng-click="item.isShow=!item.isShow;setClassForTable()">{{item.value}}</label>
								</div>
							</li>
						</ul>
					</div>
					<!-- Show Tool -->
				</div>
			</div>
			<!-- Right -->
			<div class="clear"></div>
		</div>
		<!-- Header Table -->
		<div class="table-data table-data-meterial">
			<table class="nice-table-material">
				<thead>
					<tr>
						<td>
							<div class="checkbox-custom">
								<input data-ng-model="isCheckAll" type="checkbox">
								<label data-ng-click="checkAllItem()"></label>
							</div>
						</td>
						<td data-ng-show="listCol[0].isShow">
							<span class="blue-text">
								Supplier Name
							</span>
						</td>
						<td data-ng-show="listCol[1].isShow">
							<span class="blue-text">
								1Q
							</span>
						</td>
						<td data-ng-show="listCol[2].isShow">
							<span class="blue-text">
								2Q
							</span>
						</td>
						<td data-ng-show="listCol[3].isShow">
							<span class="blue-text">
								3Q
							</span>
						</td>
						<td data-ng-show="listCol[4].isShow">
							<span class="blue-text">
								4Q
							</span>
						</td>
					</tr>
				</thead>
				<!-- thead -->
				<tbody>
					<tr data-ng-repeat="item in pagedItems[currentPage] track by $index">
						<td>
							<div class="checkbox-custom">
								<input type="checkbox" data-ng-model="selected[item.id]">
								<label data-ng-click="clickCheckBoxItem(item);"></label>
							</div>
						</td>
						<td data-ng-show="listCol[0].isShow">
							<span class="normal-text">
								{{item.suppliersName}}
							</span>
						</td>
						<td data-ng-show="listCol[1].isShow">
							<span class="normal-text">
								{{item.q1}}
							</span>
						</td>
						<td data-ng-show="listCol[2].isShow">
							<span class="normal-text">
								{{item.q2}}
							</span>
						</td>
						<td data-ng-show="listCol[3].isShow">
							<span class="normal-text">
								{{item.q3}}
							</span>
						</td>
						<td data-ng-show="listCol[4].isShow">
							<span class="normal-text">
								{{item.q4}}
							</span>
						</td>
					</tr>
					<!-- tr -->
				</tbody>
				<!-- tbody -->
			</table>
		</div>
		<!-- Table-data -->
		<div class="footer-data">
			<div class="left">
				<p class="result">
					Results per-page :
				</p>
				<ul class="how-many-show">
					<li data-ng-repeat="item in arrayPerPage" data-ng-class="{active:item.isSelected}">
						<a href="javascript:;" data-ng-click="setNumberPerPage(item.value);item.isSelected =!item.isSelected">{{item.value}}</a>
					</li>
				</ul>
			</div>
			<!-- Left Footer -->
			<div class="right">
				<ul>
					<li class="first-arrow" data-ng-class="{active:currentPage!==0,disable: currentPage===0}">
						<span class="icon-prev-page01"></span>
						<a href="javascript:;" class="icon-next-page01" data-ng-click="prevPage()"></a>
					</li>
					<li class="number">
						<input type="text" data-ng-model="inputCurrentPage" data-valid-number data-ng-keypress="setPage($event)">
					</li>
					<li class="of">
						<p>
							<span class="grey">
								of	
							</span>
							<span class="blue">
								{{pagedItems.length}}
							</span>
						</p>
					</li>
					<li class="last-arrow" data-ng-class="{active:currentPage===0,disable: currentPage===(pagedItems.length-1)}">
						<span  class="icon-prev-page01"></span>
						<a href="javascript:;" class="icon-next-page01" data-ng-click="nextPage()"></a>
					</li>
				</ul>
			</div>
			<!-- Right Footer -->
			<div class="clear"></div>
		</div>
		<!-- Fotter Data -->
	</section>
</article>
<!-- Report -->

<article class="page-po-report-mobi visible-xs">
	<section class="search-bar-mobi">
		<div class="head-search">
			<div data-search-tag-block="listTagFilter"></div>
		</div>
		<!-- Head Search -->
		<div class="main-search for-materials">
			<div class="drop-down-here " >
				<a href="javascript:;" class="btn-vendors-tool">	
					
				</a>
				<p class="text">
					Suppliers
				</p>
				<i class="icon-small-down-arrow"></i>
				<i class="icon-small-up-arrow"></i>
				
			</div>
			<!-- Vendors -->
			<div class="drop-down-here">
				<input type="text" class= "critical-datepicker" placeholder="Quarter" /> 
				<i class="icon-small-down-arrow"></i>
				<i class="icon-small-up-arrow"></i>
			</div>
			<!-- Quarter -->
			<div class="clear"></div>
			<div class="tool-tip-show vendors-tool" data-tooltip-dropdown-block="vendorsList" data-title="Supplier">
			</div>
		</div>
		<!-- main-search -->
		<div class="check-and-save">
			<div class="checkbox-custom">
				<input id="check7" name="check" value="check1" type="checkbox">
				<label for="check7">Show Only Suppliers Related to Me</label>
			</div>
			<a href="javascript:;" class="save-blue">
				Saved Filter 
				<span class="number">(2)</span>
			</a>
		</div>
		<!-- Check And Save -->
	</section>
	<!-- Search Bar -->
	<section class="main-report-d">
		<div class="head-main">
			<p class="result" data-ng-click="goCalendarView()">
				{{filteredItems.length}} Materials
			</p>
			<div class="checkbox-custom-c">
				<input data-ng-model="isCheckAll" type="checkbox">
				<label data-ng-click="checkAllItem()">Select All</label>
			</div>
			<a href="javascript:;" class="new">
				Newest First
			</a>
			<div class="clear"></div>
		</div>
		<!-- Head Main -->
		<div class="table-data-box for-material">
			<div class="box" data-ng-repeat="item in filteredItems | limitTo : limitNumberShow">
				<div class="head-box">
					<div class="checkbox-custom">
						<input type="checkbox" data-ng-model="selected[item.id]">
						<label data-ng-click="clickCheckBoxItem(item);"></label>
					</div>
					<!-- Check box -->
					<div class="cover-text">
						<p class="text-big">
							{{item.suppliersName}}
						</p>
					</div>
					<!-- text -->
					<a href="javascript:;" class="arrow-right btn-colappse">
						<i class="icon-big-down-arrow"></i>
						<i class="icon-big-up-arrow"></i>
					</a>
					<div class="clear"></div>
				</div>
				<!-- Head Box -->
				<span class="line"></span>
				<div class="main-box">

					<div class="group-text">
						<p class="text-small">
							1Q
						</p>
						<p class="text-big">
							{{item.q1}}
						</p>
					</div>

					<div class="group-text">
						<p class="text-small">
							2Q
						</p>
						<p class="text-big">
							{{item.q2}}
						</p>
					</div>
					<div class="group-text">
						<p class="text-small right">
							3Q
						</p>
						<p class="text-big right">
							{{item.q3}}
						</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="more-detail">
					<div class="group-text">
						<p class="text-small">4Q</p>
						<p class="text-big">{{item.q4}}</p>
						<div class="clear"></div>
					</div>
					<!-- Group-text	 -->
					<div class="clear"></div>
				</div>
				<a class="view-more" href="javascript:;">View More Detail</a>
				<div class="clear"></div>
				<div class="three-btn">
					<a href="javascript:;">Hold</a>
					<a href="javascript:;">Move</a>
					<a href="javascript:;">Shipping</a>
				</div>
			</div>
			<!-- Box -->
		</div>
		<div data-scroll-trigger="loadMore()" data-threshold="50"></div>
		<div class="clear"></div>
		<div class="loading-page hide">
			<a href="javascript:;">Loading</a>
		</div>
		<div class="bottom-navi" data-header-mobi-temp>
		</div>
	</section>
	<!-- Main Report -->
	<div class="clear"></div>
	
</article>
<!-- Report Mobi -->
<div class="dark-over-all hide"></div>