<nav>
	<ul>
		<li data-ng-class="{active:locationName==='#/user/dashboard'}" data-ng-click="clickNavMobi('dashboard')">
			<a href="javascript:;">
				<span class="icon-dashboard"></span>
				<span class="text">
					Dashboard Overview
				</span>
			</a>
		</li>
		<li data-ng-class="{active:locationName==='#/user/report'}" data-ng-click="clickNavMobi('report')">
			<a href="javascript:;" >
				<span class="icon-report"></span>
				<span class="text">
					Open P.O Report
					
				</span>
			</a>
		</li>
		<li data-ng-class="{active:locationName==='#/user/calendar'}" data-ng-click="clickNavMobi('calendar')">
			<a href="javascript:;" >
				<span class="icon-calendar"></span>
				<span class="text">
					Calendar View
				</span>
			</a>
		</li>
		<li data-ng-class="{active:locationName==='#/user/materials'}" data-ng-click="clickNavMobi('materials')">
			<a href="javascript:;" >
				<span class="icon-box"></span>
				<span class="text">
					Materials &amp; Suppliers List
				</span>
			</a>
		</li>
	</ul>
</nav>